body {
    background-color: #b7094c;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h1 {
    margin-left: 1%;
    margin-right: 1%;
}

header {
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

ul {
    list-style-type: none;
}

.menu {
    display: flex;
    justify-content: right;
    width: 100%;
    font-size: 1.8em;
}

.login {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 80%;
    margin-right: 1%;
    transition: 0.5s ease-in-out;
}

.login:hover {
    background-color: rgb(36, 36, 36);
}

#chkbox_menu {
    visibility: hidden;
}

ul li a {
    color: black;
    text-decoration: none;
}

ul li a:hover {
    cursor: pointer;
}

.show-menu-btn {
    font-size: 1.8em;
}

.show-menu-btn:hover {
    cursor: pointer;
}

.fullscreen_menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:-1;
    color: gray;
    text-align: right;
    transform: translateY(-100%);
    top: 0;
    transition: 0.5s ease-in-out;
}

.fullscreen_menu .menu {
    display: grid;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 2.4em;
    font-weight: bold;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 1%;
    grid-column-gap: 1%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.fullscreen_menu .menu a {
    color: gray;
    transition: 0.5s;
    margin-right: 10%;
    text-decoration: none;
}

.fullscreen_menu .menu .wrapper {
    overflow: hidden;
}

.fullscreen_menu .menu img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    transition: 0.6s ease-in-out;
}

.fullscreen_menu .menu img:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.2);
}

.fullscreen_menu .menu a:last-child {
    margin-right: 0;
}

.fullscreen_menu .menu a:hover {
    color: white;
}

.fullscreen_menu .other_links {
    margin-top: 1%;
}

.hide-menu-btn {
    font-size: 1.8em;
    margin-right: 3%;
    color: white;
    transition: 0.5s ease-in-out;
}

.hide-menu-btn:hover {
    cursor: pointer;
    color: gray;
}

.fullscreen_menu .close:hover {
    cursor: pointer;
}

#chkbox_menu:checked ~ .fullscreen_menu {
    transform: translateY(0%);
    z-index: 10;
}